{% extends 'base.html' %}
{% block content %}

<div style="margin-top:20px; margin-left:40px; margin-bottom:20px">
        <ul class="list-unstyled">
            <li><h1>{{ product }}</h1></li>
            <li><h5>Категория {{product.cat}}</h5></li>
            {% if product.image %}
                <li><img src={{product.image.url}} width="auto" height="400" class="rounded-3"></li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <br>
                <div class="d-flex">
                    <div class="d-inline-block">
                        <a href="{% url 'products:add-remove-favorite' product.slug %}"><button class="btn btn-outline-success" name="add-fav-frm" type="submit">{{ fav }}</button></a>

                    </div>
                    <div class="d-inline-block ps-2">
                        <a href="{% url 'products:add-remove-cart' product.slug %}"><button class="btn btn-outline-success" name="add-cart-frm" type="submit">{{ cart }}</button></a>
                    </div>
                </div>
            {% endif %}
            <br>
            <li><h5>Цена {{product.price}}</h5></li>
            <li><h5>Рейтинг {{product.get_rating}}</h5></li>
            <li><h6>Описание</h6> {{product.description}}</li>
        </ul>
    <div class="border" style="padding-top:10px; padding-left:20px; padding-bottom:15px">
        <ul class="list-unstyled">
            <li><h4>Отзывы</h4></li>
            {% for review in reviews %}
                <li> {{ review.user }} </li>
                <li> Оценка: {{ review.rate }} </li>
                <li> Отзыв: {{ review.body }} </li>
             {% endfor %}
            <br>
            <li>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Добавить" class="btn btn-success" name="review_frm">
                </form>
            </li>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}