{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-start" style="margin-top:20px; margin-left:20px">
            <ul class="list-unstyled">
                 {% for product in products %}
                    <li>
                        <h1>{{ product }}</h1>
                    </li>
                    {% if product.discount %}
                    <li>
                        <h5>Скидка {{ product.discount }}% Цена <del>{{ product.price }}</del> {{ product.get_final_price}}</h5>
                    </li>
                    {% else %}
                    <li>
                        <h5>Цена {{ product.get_final_price}}</h5>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'products:game' product.slug %}"><img style="max-width:17%" src={{product.image.url}}  class="img-fluid scale rounded-3"></a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'products:add-remove-favorite' product.slug %}"><button class="btn btn-outline-success" type="submit">Удалить из желаемого</button></a>
                    </li>
                    <br>
                 {% endfor %}
            </ul>
        {% if not products %}
            <h3>У вас нет игр в избранном</h3>
            <a href="{% url 'products:catalog' %}"><button class="btn btn-outline-success" type="submit">К покупкам!</button></a>
        {% endif %}
    </div>
{% endblock content %}
