{% extends 'base.html' %}
{% block content %}
<!--    <link rel="stylesheet" href="style.css">-->
    <script src="https://js.stripe.com/v3/"></script>
    <div class="row justify-content-start" style="margin-top:20px; margin-left:20px;padding-bottom:20px">
            <ul class="list-unstyled">
                 {% for product in products %}
                    <li>
                        <h1>{{ product }}</h1>
                    </li>
                    {% if product.discount %}
                    <li>
                        <h5>Скидка {{ product.discount }}% Цена <del>{{ product.price }}</del> {{ product.get_final_price}}</h5>
                    </li>
                    {% else %}
                    <li>
                        <h5>Цена {{ product.get_final_price}}</h5>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'products:game' product.slug %}"><img style="max-width:17%" src={{product.image.url}}  class="img-fluid scale rounded-3"></a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'products:add-remove-cart' product.slug %}"><button class="btn btn-outline-success" type="submit">Удалить из корзины</button></a>
                    </li>
                    <br>
                 {% endfor %}
            </ul>
        {% if total_price %}
            <h3>Итоговая цена {{ total_price }}</h3>
            <form action="{% url 'profiles:create-checkout-session' %}" method="POST">
                {% csrf_token %}
                <button type="submit" id="checkout-button" class="btn btn-success">К оплате</button>
                <br>
            </form>
        {% else %}
            <h3>У вас нет игр в корзине</h3>
            <a href="{% url 'products:catalog' %}"><button class="btn btn-outline-success" type="submit">К покупкам!</button></a>
        {% endif %}

    </div>
{% endblock content %}
