{% url 'products:catalog' as catalog %}
{% url 'profiles:myprofile' request.user.profile.slug as myprofile %}
{% url 'home' as home %}
{% url 'products:discount' as discount %}
{% url 'profiles:shopping-cart' as shopping_cart %}


<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-target="#navbarSupportedContent">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="#navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ home }}">На главную</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ catalog }}">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ discount }}">Товары по скидкам</a>
        </li>
        {% if categories %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Категории
          </a>
          <ul class="dropdown-menu">
            <p>
                {% for category in categories %}
                    <li><a class="dropdown-item" href="{% url 'products:category' category.slug%}">{{ category }}</a></li>
                {% endfor %}
            </p>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item">
        <form action="{% url 'products:search' %}" method="GET" class="d-flex" role="search">
          <input name="search" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
        </li>
      </ul>
      <ul class="navbar-nav ">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" style="color:green; font-weight: bold">
            <i class="fa-solid fa-coins"></i>
             {{ request.user.profile.balance }} ₽
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ myprofile }}">Мой кабинет <i class="fa-regular fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ shopping_cart }}">Корзина <i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profiles:favorite' %}">Желаемое <i class="fa-regular fa-heart"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Выход</a>
        </li>
      {% else %}
          <a class="nav-link" href="{% url 'account_login' %}">&nbsp Вход</a>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

